---
layout: default
title: Atlantic Salmon Ecosystems Forum - Home page preview
---



    <section>
		<p>The Atlantic Salmon Research Joint Venture will be hosting an Atlantic Salmon Ecosystems forum at the Hotel Chateau Laurier on March 12-13, 2019 in Quebec City, PQ.</p>
		<p> For more information on meeting details, lodging, registration and abstract submission, please follow <a href="https://thepointofsale.com/tickets/fqs181213001" target="_blank">this link</a>  or contact the meeting coordinator, <a href="mailto:Patricia.Edwards@dfo-mpo.gc.ca">Patricia Edwards</a>.
		</p>
    </section>

{% include about.html %}
{% include sponsors.html %}
