* { @include box-sizing(border-box); }

#map {
	width: 100%;
	height: 300px;
	margin-top: 2em;
}

header {
	top: 0;
	z-index: 9999;
	padding: 1em;
	background-color: $color-structure;
	border-bottom: 2px solid #f6f6f6;
	background: url(/assets/img/bg-2016.jpg);
	background-size: cover;
}

nav {
	//width: 90%;
	padding: 1em;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: white;
	a {
		color: #f6f6f6;
		//padding: .5em;
		&:hover { color: white; }
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,.3);
		@include transition(background 0.3s ease-in);
		&:hover {
			background: rgba(0,0,0,0.5);
			@include transition(background 0.3s ease-out);
		}
	}
}

footer {
	background: rgba(0,0,0,.5);
	padding: 1em;
	text-align: center;
}
#past li {
	font-size: 1.17rem;
	display: inline;
	padding-right: 1em;
	font-family: $font-heading;
}
.sponsors {
	display: inline-flex;
	flex-wrap: wrap;
	li {
		display: inline-block;
		//overflow: auto;
		list-style: none;
		padding: .5em;
		border-bottom: 1px solid $color-structure;
		text-align: center;
		min-width: 250px;
		min-height: 250px;
	}
	a {
		text-transform: none;
	}
	h3 {
		color: $color-brand;
	}
	img {
		height: auto;
		max-width: 250px;
		max-height: 200px;
	}
}

.resources {
	div {
		margin-top: 1em;
	}
	ul {
		margin: 0;
	}	
}

.schedule {
	p {
		margin: 1em 0;
		padding: .5em .25em;
		border-bottom: 1px solid $color-structure;
	}
	
	strong {
		margin-right: 1.5em;
		padding: .25em;
		background: #fafafa;
	}
}
.more-info-link {
	font-size: .9em;
	padding-top: 1em;
	a {
		color: $color-brand;
		&:hover {
			color: darken($color-brand,10);
		}
	}
}

// Layout helpers
.align-center {
	text-align: center;
}


@media (max-width: 768px) {

	header { 
		background: url("/assets/img/bg-2016.jpg") repeat scroll 0% 50% / cover;
	}

	.content {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
		//top: 150px;
	}

	nav {
		h1 { display: none; }
		a {
			&.register {
				li {
					background: inherit;
					color: $color-success;
					&:hover {
						background: inherit;
						color: saturate($color-success, 20%);
					}
				}
			}
			&.contact {
				li {
					background: inherit;
					color: $color-brand;
					&:hover {
						background: inherit;
						color: darken($color-brand, 10%);
					}
				}
			}
		}
		p { display: none; }
		img { display: inline; }
		ul { margin: 0 auto; }
		li {
			display: inline-block;
			margin-right: 0.5em;
		}
	}

	section {
		padding: 2em 0;
		border-bottom: 2px dotted $color-structure;
		&:nth-of-type(first) {
			padding: 0;
		}
	}

	section#schedule li {
		span.author { display: none; }
		span.time, 
		span.title {
			display: block;
		}
	}
}

@media (min-width: 769px) {

	header {
		position: fixed;
		width: 20em;
		height: 100%;
		background-image: url(/assets/img/bg-2016.jpg);
		background-size: cover;
	}
	
	nav {
		margin: 3em auto 0;
		padding: 3em 2em 2em;
		li {
			max-width: 16em;
			margin: 0 auto;			
		}
	}

	.content {
		padding-left: 1em;
		padding-bottom: 4em;
		margin-left: 20em;
		margin-right: 2em;
	}

	section {
		padding: 0 1em;
		h2 {
			border-bottom: 2px solid $color-structure;
		}
	}

	aside {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	h1 {
		margin: 0;
		line-height: 100%;
	}

	ul {
		margin: 1em 0 0 0;
		padding: 0;
	}

	section#schedule li {
		span.time, span.title, span.author {
			display: inline-block;
			vertical-align: top;
		}
		span.time { width: 15%; }
		span.author { width: 15%; }
		span.title { width: 68%; }
	}

}

@media (min-width: 1120px) {

	header { width: 33%; }
	.content, footer { margin-left: 33%; }

	aside {
		display: inline-block;
		vertical-align: top;
		width: 49%;
		padding-right: 3em;
	}
	
	nav {			
		a.contact {
			li {
				margin: 2em auto 0;
			}
		}
	}
	
}
