body {
	color: $color-main;
	font-family: $font-body;
}

a {
	text-decoration: none;
	color: $color-brand;
	transition: color .9s ease;
	&:hover {
		color: darken($color-brand, 10%);
	}
	&.register {
		color: white;
		li { 
			background: $color-success;
			@include transition(background, 0.5s);
			&:hover {
				background: desaturate($color-success, 20%);
				@include transition(background, 0.5s);
			}
		}
	}
	&.contact {
		color: white;
		li {
			background: $color-brand;
			@include transition(background, 0.5s);
			&:hover {
				background: desaturate($color-brand, 20%);
				@include transition(background, 0.5s);
			}
		}
	}
}

ul {
	padding: 0;
	li {
		list-style-type: none;
	}
	ul {
		margin: .25em 0 1em;
	}
}

button {
	border: none;
	color: white;
}

h1,
h2,
h3,
h4,
nav li,
.button {
	font-family: $font-heading;
	font-weight: normal;
}

h2 {
	font-size: 2rem;
	line-height: 1.1em;
	margin:1em 0 .5em;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid $color-structure;
	margin: 1em 0 0 0;
}

header {
	h1, .h1 { 
		font-size: 3rem;
		font-family: $font-heading;
	}
	.tagline {
		font-size: 1.2em;
		letter-spacing: .02em;
		text-shadow: 0 0 .5em #000;
	}
	nav li { font-size: 1rem; }
}

.content {
	min-height: 93vh;
	font-size: 1.23em;
	ul {
		//margin: 0;
	}
	li {
		list-style: disc;
		margin-left: 1.5em;
	}
	p {
		max-width: 44em;
		text-align: justify;
	}
}
section {
	h1, h2 { text-transform: uppercase; }
	h2 { color: darken($color-main, 10%); }
	h3 { color: lighten($color-main, 10%); }
}

.meeting-theme {
	font-style: italic;
}

.alert { color: $color-alert; }

.button,
a.button {
	background: $color-brand;
	display: inline-block;
	text-align: center;
	margin: auto 1em;
	padding: 5px 10px;
	@include transition(background 0.3s ease-in);
	&:hover {
		background: darken($color-brand, 10%);
		@include transition(background 0.3s ease-in-out);
	}
	a {
		text-transform: uppercase;
		color: white;
	}
}
a.button {
	color: white;
}

section#schedule li {
	font-size: 90%;
	padding: 0 3px;
	border-bottom: 1px solid #f3f3f3;
	@include transition(border-bottom 0.5s ease);
	&:hover {
		border-bottom: 1px solid $color-brand;
		@include transition(border-bottom 0.5s ease);
	}
	span.title { color: darken($color-main, 10%); }
}

// !Forms

.paypal-form {
	background: none;
	padding: 1em 0;
	.button {
		margin: 0;
		background-color: $color-success;
		&:hover, &:active {
			background-color: darken($color-success,10%);
		}
	}
}
