//Colors

$color-alert:			#e76f5c;
$color-brand:			#5692f7;
$color-main:			#666;
$color-structure:		#eee;
//$color-success:			#9bca57; //orig
$color-success:			#81c784; // updated
  

// Typography

/*
$font-heading:		aw-conqueror-carved-one;
$font-body:				ff-tisa-web-pro;
*/
$font-heading:		"Montserrat",Furura,Arial,sans-serif;
$font-body:			"EB Garamond","Times New Roman",Times,serif;
