<section id="about">
	<h2>The Atlantic Salmon Ecosystems Forum</h2>
<!--     <h3 class="meeting-theme">Are we moving the needle?</h3> -->

	<h3>January, 2020<br>
	Orono, ME<br>
	Location: Forthcoming
<!-- 	<a href="directions.html">Wells Conference Center</a></h3> -->
	
	<p>The Atlantic Salmon Ecosystems Forum (ASEF) began in 2002 as the biennial 'Maine Atlantic Salmon Technical Advisory Committee Research Forum.' In recent years, the focus of the meeting has shifted somewhat in response to evolving research priorities and management needs to improve our understanding of the ecosystem processes that influence riverine, estuarine, and marine habitats. This holistic approach enhances our understanding of multi-species interactions by generating novel insights into the multiplicity of factors affecting diadromous species survival, population dynamics, ecosystem structure and function from headwaters to the ocean. </p>
	<p>We hope to attract a diverse audience interested in engaging in meaningful discussions pertaining to the past, present, and future of diadromous species science, management, conservation and restoration, with an emphasis on re-establishing lost biological, physical, and social connections between and among humans, habitats, and fish.</p>	

	<h3>Important Dates:</h3>
	
	<ul>
		<li><strong>Meeting Dates</strong>: January, 2020</li>
		<li>Online Registration: Forthcoming</li>
		<li><strong>Late registrants:</strong> please contact Steve Koenig at (207) 214-6096. </li>
		<li>Online Abstract Submission Deadline: Forthcoming</li>
	</ul>
	
</section>

    <section>
		<h2>March 12 - 13, 2019</h2>
		<p>The Atlantic Salmon Research Joint Venture will be hosting an Atlantic Salmon Ecosystems forum at the Hotel Chateau Laurier on March 12-13, 2019 in Quebec City, PQ.</p>
		<p> For more information on meeting details, lodging, registration and abstract submission, please follow <a href="https://thepointofsale.com/tickets/fqs181213001" target="_blank">this link</a>  or contact the meeting coordinator, <a href="mailto:Patricia.Edwards@dfo-mpo.gc.ca">Patricia Edwards</a>.
		</p>
    </section>
