<section id="about">
	<h2>The Atlantic Salmon Ecosystems Forum</h2>
	<p><a href='http://salmonhabitat.org'>SHARE</a>, <a href='http://www.umaine.edu/searunfish/'>DSSRN</a> and <a href='http://www.noaa.gov/'>NOAA</a> would like to thank everyone who attended the 2014 Atlantic Salmon Ecosystems Forum. We had a <strong>great time</strong>, and we hope you all did too.</p>
	<p>If you have any comments or suggestions, we'd love to hear from you!</p>
	<p class='button'><a href='mailto:hi@jacquestardie.org,mark.renkawitz@noaa.gov,tara.trinko@noaa.gov'>Send an email</a></p>
</section>
