<section id="about">
	<h2>The Atlantic Salmon Ecosystems Forum</h2>
	<h3>Next Forum:  January 9-10, 2024, Wells Conference Center</h3>
  	<h3 class="meeting-theme"></h3>
	
	<p>A special thank you to those who participated in the 2022 Atlantic Salmon Ecosystems Forum. Despite the transition to a fully virtual format, 
		over 180 registered participants from a wide swath of state and federal agencies (US and Canada both), tribal governments, academia, 
		research institutes, and private industry were in attendance.  For those interested, Katrina Mueller with U.S. Fish and Wildlife Service
		and George Pess with NOAA Fisheries have allowed us to post PDF versions of their talks <a href="/previous-forums.html">here</a>.
		We look forward to seeing attendees in person in 2024.</p>

	<p>- <strong><i>The Organizing Committee</i></strong> </p>


	<h3>About</h3>
	<p>The Atlantic Salmon Ecosystems Forum (ASEF) began in 2002 as the biennial 'Maine Atlantic Salmon Technical Advisory Committee Research Forum.' In recent years, the focus of the meeting has shifted somewhat in response to evolving research priorities and management needs to improve our understanding of the ecosystem processes that influence riverine, estuarine, and marine habitats. This holistic approach enhances our understanding of multi-species interactions by generating novel insights into the multiplicity of factors affecting diadromous species survival, population dynamics, ecosystem structure and function from headwaters to the ocean. </p>
	<p>We hope to attract a diverse audience interested in engaging in meaningful discussions pertaining to the past, present, and future of diadromous species science, management, conservation and restoration, with an emphasis on re-establishing lost biological, physical, and social connections between and among humans, habitats, and fish.</p>	

	<h2>Important Dates:</h2>
	
	<ul>
		<li><strong>Meeting Dates</strong>: January 9-10, 2024</li>
		<li><strong>Registration Opens: October 1, 2023 </strong><!-- <a href="/registration.html">Online Registration</a> Deadline</strong>: December 31, 2023 --></li>
		<li>Abstract Submission Deadline: October 15, 2023</li>
		<!-- <li><strong>Late registrants:</strong> please contact Steve Koenig at (207) 214-6096. </li>
		<li>Online <a href="/submit-abstract.html">Abstract Submission</a> Deadline: November 1st, 2021</li>		
		<li>Presentation submissions: January 3</li> -->
	</ul>
	
</section>
