<section id='past'>

  <h2>Previous fora</h2>
  <p>Initially the <em>"Maine Atlantic Salmon Technical Advisory Committee Research Forum"</em>, the name has evolved to more appropriately reflect growing research and management interest in ecosystem level processes that influence riverine, estuarine, and marine habitats. A holistic approach to research enhances an understanding of multi-species interactions and offers novel insight into the multiplicity of factors affecting salmon survival, population dynamics, the structure and function of salmon ecosystems from headwaters to the ocean. As a result, the 2014 Atlantic Salmon Ecosystems Forum will blend diverse research and management topics, presenting a cohesive overview of contemporary knowledge, management actions, an evaluation of on-the-ground restoration initiatives, and potential paths forward.</p>

  <ul>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/sixth.pdf'>2012</a></li>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/fifth.pdf'>2010</a></li>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/fourth.pdf'>2008</a></li>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/third.pdf'>2006</a></li>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/second.pdf'>2004</a></li>
    <li><a href='http://www.nefsc.noaa.gov/publications/crd/crd1212/first.pdf'>2002</a></li>
  </ul>

</section>
