<section id="past">
	<h2>Previous Forums</h2>
	
	
	<h3>2022</h3>
	<p><a href="https://atlanticsalmonforum.org/assets/2022%20ASEF%20Full%20Program%20and%20Abstracts.pdf" target="_blank">Program and Abstracts of the 2022 Atlantic Salmon Ecosystems Forum</a>
	<br>(Edited by R. Saunders, and S.L. Bailey)</p>	
	
	<p><a href="/assets/katrina PDF.pdf" target="_blank">Katrina Mueller PDF Presentation</a></p>

	<p><a href="/press PDF.pdf" target="_blank">George Pess PDF Presentation</a></p>



	<h3>2020</h3>
	<p>Forthcoming</p>
	
	
	<h3>2018</h3>
	<p><a href="https://repository.library.noaa.gov/view/noaa/23032" target="_blank">Program and Abstracts of the 2018 Atlantic Salmon Ecosystems Forum</a>
	<br>(Edited by M.D. Renkawitz, R. Saunders, and S.L. Bailey)</p>

	<h3>2016</h3>
	<p><a href="https://repository.library.noaa.gov/view/noaa/13330" target="_blank">Program and Abstracts of the 2016 Atlantic Salmon Ecosystems Forum</a>
	<br>(Edited by M.D. Renkawitz and T.R. Trinko-Lake)</p>
	
	<h3>2014</h3>
	<p><a href="https://repository.library.noaa.gov/view/noaa/5023" target="_blank">Program and Abstracts of the 2014 Atlantic Salmon Ecosystems Forum</a>
	<br>(Edited by M.D. Renkawitz and T.R. Trinko-Lake)</p>
	
	<h3>2002-2012</h3>
	<p><a href="https://repository.library.noaa.gov/view/noaa/4192" target="_blank">Programs and Abstracts of the Maine Atlantic Salmon Forums: 2002-2012</a>
	<br>(Edited by S.A. MacLean)</p>

</section>
