<h2>Registration Information &amp; Fees</h2>

<p>Online registration will open from November  1, 2015 until December 25, 2015. Registration at the door will also be possible via cash or credit card.</p>

<p>ALL PRESENTERS MUST REGISTER ELECTRONICALLY BEFORE THE MEETING</p>

<iframe src="https://docs.google.com/forms/d/1FOfHAmjf1UOI_F_rjPdLgB-RRhJ-I1JjB4tk_h3tKzs/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<h3>Registration Fees:</h3>

<ul>
<li>Student 2-Day ($30.00)</li>
<li>Standard 2-Day ($60.00)</li>
</ul>

<p>Online payment will be available soon.</p>
