<section id="sponsors">

  <h2>Sponsors</h2>
  <ul class='sponsors'>

    <li>
      <a href="http://www.nefsc.noaa.gov/nefsc/orono/" target="_blank"> 
        <h3>NOAA</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/NOAA_logo.svg">
      </a>
    </li>

    <li>
      <a href="http://salmonhabitat.org" target="_blank">
        <h3>Project SHARE</h3>
        <img src="http://salmonhabitat.org/assets/img/logo.png">
      </a>
    </li>

    <li>
      <a href="http://www.fws.gov/northeast/mainefisheries/" target="_blank">
        <h3>USFWS</h3>
        <img src="http://upload.wikimedia.org/wikipedia/commons/0/0c/US-FishAndWildlifeService-Logo.svg">
      </a>
    </li>

    <li>
      <a href="http://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/maine/index.htm?intc=nature.tnav.where.list&nst=0&creative=6074332675&device=c&matchtype=e" target="_blank">
        <h3>The Nature Conservancy</h3>
        <img src="http://www.nature.org/cs/groups/webasset/documents/webasset/logo-nature-notagline.png">
      </a>
    </li>

  </ul>
</section>
