<section id="sponsors">

  <h2>Sponsors</h2>
  <ul class='sponsors'>

    <li>
      <a href="http://www.nefsc.noaa.gov/salmon"> 
        <h3>NOAA</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/NOAA_logo.svg">
      </a>
    </li>

    <li>
      <a href="http://www.fws.gov/">
        <h3>USFWS</h3>
        <img src="http://upload.wikimedia.org/wikipedia/commons/0/0c/US-FishAndWildlifeService-Logo.svg">
      </a>
    </li>

    <li>
      <a href="http://www.umaine.edu/searunfish/">
        <h3>DSRRRN</h3>
        <img src="/assets/img/dsrrrn.jpg">
      </a>
    </li>

    <li>
      <a href="http://salmonhabitat.org">
        <h3>SHARE</h3>
        <img src="/assets/img/share.png">
      </a>
    </li>

  </ul>
</section>
