<section id="sponsors">

  <h2>Sponsors</h2>
  <ul class='sponsors'>

    <li>
      <a href="http://www.nefsc.noaa.gov/salmon" target="_blank"> 
        <h3>NOAA</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/NOAA_logo.svg">
      </a>
    </li>

    <li>
      <a href="http://www.fws.gov/" target="_blank">
        <h3>USFWS</h3>
        <img src="http://upload.wikimedia.org/wikipedia/commons/0/0c/US-FishAndWildlifeService-Logo.svg">
      </a>
    </li>

    <li>
      <a href="h]p://www.nature.org/ourini*a*ves/regions/northameric a/unitedstates/maine/index.htm? intc=nature.tnav.where.list&nst=0&crea*ve=6074332675& device=c&matchtype=e" target="_blank">
        <h3>The Nature Conservancy</h3>
        <img src="http://www.nature.org/cs/groups/webasset/documents/webasset/logo-nature-notagline.png">
      </a>
    </li>

    <li>
      <a href="http://salmonhabitat.org" target="_blank">
        <h3>SHARE</h3>
        <img src="/assets/img/share.png">
      </a>
    </li>

  </ul>
</section>
