<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='author' content='Project SHARE'>
    <meta name='description' content='Atlantic Salmon Ecosystems Forum. Connecting science with on-the-ground restoration.'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script>
	if(window.location.href.indexOf("salmonhabitat.org")>0) {	
		window.location.href = 'https://atlanticsalmonforum.org';
	}
	</script>
		
	<link href="//cdn.jotfor.ms/static/formCss.css?3.1.1434" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="//cdn.jotfor.ms/css/styles/nova.css?3.1.1434" />
    <link type="text/css" media="print" rel="stylesheet" href="//cdn.jotfor.ms/css/printForm.css?3.1.1434" />

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/site.css">

<!--     <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' /> -->
    <!--[if lte IE 8]>
      <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/assets/img/favicons/manifest.json">
	<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#2875f5">
	<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

<!-- n.b. this should be replaced with google fonts or new webfont solution -->
<!--
    <script type='text/javascript' src='//use.typekit.net/fms1zyz.js'></script>
    <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
-->

  </head>

  <body>

    <header>       
    <nav>
        <a href='/' title="The Atlantic Salmon Ecosystems Forum">
          <img src='/assets/img/salmon.svg'>
          <div class="h1">ASEF</div>
        </a>
        <p class="tagline">Diadromous Species Restoration in the Northeastern United States and Canada.</p> 
        <ul>
			<a href="http://atlanticsalmonforum.org/"><li>Home</li></a>
<!-- 			<a href="/registration.html"><li>Registration</li></a> -->
			<a href="/program.html"><li>Program</li></a>
			<a href="/guidelines.html"><li>Guidelines for Authors</li></a>
			<a href="/directions.html"><li>Directions &amp; Lodging</li></a>
			<a href="/previous-forums.html"><li>Previous Forums</li></a>
			<a href="mailto:Mark.Renkawitz@noaa.gov,Rory.Saunders@noaa.gov?subject=Atlantic Salmon Ecosystems Forum" class='contact'><li>Contact us</li></a>
        </ul>
    	<p class="more-info-link">For more information on Atlantic salmon and other diadromous species in the Northeast US, please visit <a href="http://AtlanticSalmonRestoration.org" target="_blank">AtlanticSalmonRestoration.org</a></p>

      </nav>
    </header>
    
    <div class='content'>
      {{ content}}
    </div>

    <footer>
    	<a href='/' title="The Atlantic Salmon Ecosystems Forum">
          <img src='/assets/img/salmon.svg'>
        </a>
    </footer>
    
    <!-- Mapbox.js -->
<!--
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script type='text/javascript'>
      var map = L.mapbox.map('map', 'jacques.map-d50mlskw');
      // disable scroll + zoom
      map.touchZoom.disable();
      map.scrollWheelZoom.disable();
    </script>
-->

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-69115683-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	
	

  </body>
</html>
